{% extends 'articles/base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %} 

    {% if article %}
        {% for a in article %}
            <div class="article mb-4">
                <h1>{{a.article_title}}</h1>
                <span>Released at: {{a.pub_date}}</span>
                <br>
                
                <form action="{% url 'articles:detail' a.id %}">
                    <button type="submit" class="btn btn-warning">Read</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        There is no any Article yet ...
    {% endif %}

{% endblock %}